<h3><%= l(:label_my_queries) %></h3>

<%
   queries_by_project = @user.my_visible_queries.group_by(&:project)
   global_queries = queries_by_project.delete(nil) || []
%>

<% if global_queries.any? %>
  <h4><%= l(:field_is_for_all) %></h4>
  <ul>
    <% global_queries.each do |query| %>
      <li><%= link_to_query query %></li>
    <% end %>
  </ul>
<% end %>

<% if queries_by_project.any? %>
  <% queries_by_project.each do |project, queries| %>
    <h4><%= link_to_project project %></h4>
    <ul>
      <% queries.each do |query| %>
        <li><%= link_to_query query %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
