<h3>
  <%= l(:label_string) %>
  <% if action_name == 'page_layout' %>
    <div class="my-page-text-edit-button">
      <%= link_to l(:button_edit), '#', :class => 'edit-my-page-text' %>
    </div>
  <% end %>
</h3>

<div id="my-page-text-content"><%= render 'my/text' %></div>

<%= javascript_tag do %>
  var myPageTextModal = '<%= escape_javascript(render 'my/my_page_text_modal') %>';
<% end %>
